<h3>{{value}}</h3>

<table>
  <thead>
    <td>Id</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Country</td>
    <td>Created At</td>
  </thead>

  <tbody>
    <tr ng-repeat='contact in contacts'>
      <td>
        {{ contact.id}}
      </td>
      <td>
        {{contact.name}}
      </td>
      <td>
        {{contact.email}}
      </td>
      <td>
        {{contact.phone}}
      </td>
      <td>
        {{contact.country}}
      </td>
      <td>
        {{contact.created_at | date : format}}
      </td>
      <td>
        <a href="/contacts/{{contact.id}}">Show</a>  |
        <a href="/contacts/{{contact.id}}/edit">Edit</a>  |
        <a href='#' ng-click='destroy(contact, $index)'>Destroy</a>
      </td>
    </tr>
  </tbody>
</table>

<button ng-click='new()' class='btn btn-success'>New Contact</button>