
<div class='wrapper'>
  <h2>{{ form_heading }}</h2>

  <form name='form' formSubmitted ng-submit='submit()' class='form-horizontal'>

    <div class='field' ng-class="errorClass('name')">
      <label for="">Name</label>
      <input type='text' ng-model='contact.name' name='name' autofocus/>
      <span class='help-block' ng-show="form.name.$server_message && form.name.$invalid && form.name.$dirty">
        {{errorMessage('name')}}
      </span>
    </div>

    <div class='field' ng-class="errorClass('email')">
      <label for="">Email</label>
      <input type='text' ng-model='contact.email' name='email'/>
        <span class='help-block' ng-show="form.email.$server_message && form.email.$invalid && form.email.$dirty">
        {{errorMessage('email')}}
      </span>
    </div>


    <div class='field' ng-class="errorClass('phone')">
      <label for="">Phone</label>
      <input type='text' name='phone' ng-model='contact.phone' autofocus/>
          <span class='help-block' ng-show="form.phone.$invalid && form.phone.$dirty">
           {{errorMessage('phone')}}
          </span>
    </div>

    <div class='field' ng-class="errorClass('country')">
      <label for="">Country</label>
      <input type='text' ng-model='contact.country' name='country'/>
        <span class='help-block' ng-show="form.country.$server_message && form.country.$invalid && form.country.$dirty">
        {{errorMessage('country')}}
      </span>
    </div>

    <input type="submit" class='btn'/>
  </form>
</div>