var user_signed_in = false;
var app = angular.module("ContactService", ["ngRoute", "ngResource", 'flash']);

app.config(["$routeProvider", "$locationProvider", function($routeProvider, $locationProvider){
  $locationProvider.html5Mode(true);
  $routeProvider
    .when("/contacts", { templateUrl:    "<%= asset_path('contacts/index.html') %> ", controller: "IndexCtrl" })
    .when("/contacts/new", {templateUrl: "<%=asset_path("contacts/new.html")%>",      controller: 'NewCtrl'})
    .when("/contacts/:id", {templateUrl: "<%=asset_path("contacts/show.html")%>",
                            controller: 'ShowCtrl',
                            resolve:{
                              contacts: ['$q', '$timeout', '$routeParams', 'Contact', function( $q, $timeout, $routeParams, Contact){
                                  var deferred = $q.defer();
                                  var promise = Contact.get({id: $routeParams.id}, function(data){
                                    deferred.resolve(data[0]);
                                  });
                                  return deferred.promise;
                              }]
                            }
     })
    .when("/contacts/:id/edit", {templateUrl: "<%=asset_path("contacts/new.html")%>", controller: 'NewCtrl'})
    .when("/login", {templateUrl: "<%=asset_path("login.html")%>", controller: 'LoginCtrl'})
    .when("/signup", {templateUrl: "<%=asset_path("signup.html")%>", controller: 'SignUpCtrl'})
    .otherwise({ redirectTo: "/contacts" });
}])
.run(['$rootScope', '$location' , function($rootScope, $location){
  $rootScope.loggedInUser = user_signed_in;
  $rootScope.$on("$routeChangeStart", function(e, next, current){
     if(!$rootScope.loggedInUser){
         if(next.templateUrl && next.templateUrl.match("/signup")){
             return;
         }
         else
          $location.path('/login');
     }
  });
}]);


app.config(['$httpProvider', function($httpProvider) {
  $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
  $httpProvider.defaults.headers.post["Content-Type"] = "application/json";
}]);


