// Place all the styles related to the raffle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  background-color: #fed;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 800px;
  background-color: #FFF;
  padding: 30px 40px;
  border: solid 1px black;
  margin: 60px auto;
}

table{
  width: 100%;
  margin-bottom: 20px;
}

thead{
  font-size: 16.5px;
}
form input {
  font-size: 20px;
}
form input[type='text'],input[type='password'] {
  width: 400px;
}
form input[type='submit'], button {
  -webkit-appearance: caret;
  font-size: 14px;
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #24882B;
  background: -webkit-gradient(linear, left top, left bottom, from(#32BE39), to(#247B28));
  background: -moz-linear-gradient(top,  #32BE39,  #247B28);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32BE39', endColorstr='#247B28');
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
  text-align: middle;
  vertical-align: top;
}

button {
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border-top: solid 1px #CCC;
}

li {
  border-bottom: solid 1px #CCC;
  padding: 10px 10px;
  font-size: 16px;
  position: relative;
  .winner {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #999;
    &.highlight {
      color: #DD0000;
      font-weight: bold;
    }
  }
}

.wrapper{
  margin: 0 auto;
  max-width: 640px;
  padding: 30px;
  border-radius: 15px;
}

.help-block{
  color: crimson;
}

.error{
  color:red;
}



#flash-messages{
  list-style-type: none;
  text-align: center;
}

#flash-messages li{
  border: none;
  border: 1px solid;
}

.success{
  color: green;
}

.float-right{
  float: right;
}

.navbar .top-bar-links{
  list-style-type: none;
  margin-right: 100px;
  border: none;
}
.navbar .top-bar-links li{
  border: none;
  display: inline;
  color:sienna;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.btn-blue{
  background: #3068a2;
  background: linear-gradient(to bottom,#4687ce 0,#3068a2 100%);
  border-color: #486582;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #295989;
}