<div class='wrapper'>
  <h2>{{value}}</h2>

  <form name='form' ng-submit='login()' class='form-horizontal'>
    <div class='field'>
      <label for="">Email</label>
      <input type='text' ng-model='email'/>
    </div>

    <div class='field'>
      <label for="">Password</label>
      <input type="password" ng-model='password'/>
    </div>

    <input type="submit" class='btn' value='Login'/>

  </form>

</div>