<div class='wrapper' ng-controller='SignUpCtrl'>

    <h2>Signup form</h2>

    <form name='form' ng-submit="submit()" class='form-horizontal'>

      <div class='field' ng-class="errorClass('email')">
          <label for="">Email</label>
          <input type='text' name='email' ng-model='email' autofocus/><br/>
          <span class='help-block' ng-show="form.email.$invalid && form.email.$dirty">
           {{errorMessage('email')}}
          </span>
      </div>

      <div class='field' ng-class="errorClass('password')">
        <label for="">Password</label>
        <input type='password' name="password" ng-model='password'/><br/>
         <span class='help-block' ng-show="form.password.$invalid && form.password.$dirty">
           {{errorMessage('password')}}
         </span>
      </div>


     <div class='field' ng-class="errorClass('password_confirmation')">
        <label for="">Password Confirmation</label>
        <input type='password' name="password_confirmation" ng-model='password_confirmation'/><br/>
        <span class='help-block' ng-show="form.email.$invalid && form.email.$dirty">
           {{errorMessage('password_confirmation')}}
         </span>
     </div>

     <input type="submit" class='btn' value='Register'/>

    </form>

</div>