<!DOCTYPE html>
<html  lang="en" ng-app="ContactService">
<head>
  <title>Contactify</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='home'>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <h1><a class="brand" href="/">Contact Service</a></h1>
      <ol class='top-bar-links float-right' ng-controller='LoginCtrl'>
        <li><user   ng-show='loggedInUser'> {{ user.email }}</user></li>
        <li><logout ng-show='loggedInUser'></logout></li>
        <li><signup ng-hide="loggedInUser"><button ng-click="signup()" class='btn-blue'>Sign Up</button></signup></li>
      </ol>
  </div>
</div>


<div id="container">
  <flash:messages></flash:messages>
  <ng-view></ng-view>
</div><!--container-->

<footer>
  <p>&copy; Prashant Sahni 2014</p>
  <p>* This app is made using angular and rails</p>
</footer>

<!--
  ===== Load javascripts ========
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js'></script>
-->

<%=javascript_include_tag "application"%>
<%=javascript_tag "var user_signed_in = #{ !!user_signed_in? }"%>

</body>
</html>
